# Cora system configuration
CORA_SYSTEM=preview
CORA_LOGIN_ID=divaAdmin@cora.epc.ub.uu.se
CORA_APP_TOKEN=
CORA_WORKERS=16

# Classic Fedora service
FEDORA_URL=http://fedora-host:8088
SOLR_URL=http://solr-host:8083/solr-admin/dream/select

# Classic database
DB_HOST=diva-storage1
DB_PORT=5432
DB_NAME=auradb
DB_USER=
DB_PASSWORD=
