secrets.txt
.env
__pycache__
Cora API Via Python/
CSV/
sql_script/
/.project
/.pydevproject
/venv/
/.venv/
*.egg-info/
.coverage
/logs
/.pytest_cache/
/data/fedora_xml/
/data/db_xml/
/reports
/build/
/out/
/.idea/
